
<%# <%= cl_image_path flat.photos.first.key.first(1) %>
<p><strong><%= flat.name %></strong></p>
<p><%= flat.location %></p>

<div class="footer">
  <p>This website was coded with <i class="fas fa-heart"></i> at Le Wagon - Bali by Yeon, Maulid, Claudia, Michelle, Eye</p>
</div>
