<div class="form-headers-flat">
  <h1 >Edit my flat</h1>
  <%= render "form", flat: @flat %>
</div>

<div class="footer">
  <p>This website was coded with <i class="fas fa-heart"></i> at Le Wagon - Bali by Yeon, Maulid, Claudia, Michelle, Eye</p>
</div>
