<%= simple_form_for [@booking, @review] do |f| %>
  <h2 class="form-headers">Leave a review</h2>
  <%= f.input :rating, as: :integer, input_html: { min: '0', max: '5', step: '1' } %>
  <%= f.input :content, label: "Comment" %>
  <%= f.submit %>
<% end %>

<div class="footer">
  <p>This website was coded with <i class="fas fa-heart"></i> at Le Wagon - Bali by Yeon, Maulid, Claudia, Michelle, Eye</p>
</div>
