.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navhome {
  background-color: transparent;
  position:fixed;
  top: 0;
  width: 100%;
  .nav-link {
    color:white !important;
  }
}

.avatar.dropdown-toggle {
  width:40px;
  height: 40px;
}

.nav-link:hover{
  background-color: rgba(92, 92, 92, 0.534);

}

.search-bar-parameter {
  border: transparent;
}

.search-bar-parameter.border-right {
  border-right: solid;
}

.search-bar.d-flex {
  border: solid;
  border-color: #dee2e6;
  border-width: 1px;
  border-radius: 24px;
  padding: 4px 12px;
}
