
.booking-pictures {
  height: 300px;
  background-size: cover;
  background-position: bottom;
}

.booking-pictures-small {
  height: 150px;
  background-size: cover;
  background-position: bottom;
  margin-top: 1px;
  margin-bottom: 1px;
}
